* {
  padding: 0;
  margin: 0;
}

body {
  background-image:url(https://www.wallpapertip.com/wmimgs/83-838410_php-html-code-php-lenguaje-de-programacion.jpg);
  font-family: verdana;
  color: aliceblue;
  backdrop-filter: blur(5px);
}

nav {
  display: flex;
  justify-content: end;
}

nav ul li {
  padding-block-start: 15px;
  list-style-type: none;
  display: inline-block;
  margin: 0 25px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: aliceblue;
}

p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

a{
  margin-top: 20px;
}

h3 {
  text-align: center;
  margin-top: 20px;
}

.section_home {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 15px;
  justify-items: center;
  margin-top: 30px;
}

/*.section_proyectos {
  margin-top: 40px;
}

.section_proyectos h3 {
  margin-bottom: 40px;
}*/

h3{
  margin-top: 40px;
  margin-bottom: 40px;
}

.section_proyectos--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  justify-items: center;
}

.section_proyectos--grid article {
  text-align: center;
}

.section_formulario{
  display: inline-block;
  min-width: 100px;
  min-height: 100px;
}

.div_formulario{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
  justify-items: center;
  }

.div_skills {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 20px;
}

.div_sobremi{
  display: grid;
  grid-template-columns: (2, 1fr);
  justify-items: center;
}

.div_footer {
  display: flex;
  justify-content: space-evenly;
}

.article_contacto{
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  color: orange;
}

@media (max-width: 690px) {
  ul {
    text-align: center;
  }
}

@media (max-width: 420px) {
  .section_proyectos--grid {
    grid-template-columns: 1fr;
  }
  
  .article_skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
  }
}